		<head>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<div id="contain" style="background-color: #F5FFFA; margin-top: 2cm" >
        	<h1 style="font-weight: 700; font-size: xx-large; margin-left: 1cm; margin-top: .7cm">About Us</h1>
        	<h2 style="font-weight: 600; font-size: large; margin-top: .7cm; margin-left: 1cm">15 Years on the Market</h2>
			<h3 style="font-style: italic; font-size: larger; margin-left: 1cm; margin-top: .7cm">All these years we are simplifying admission process for you</h3>
   				 <div class="left">
        			<%= image_tag("since 2002.png", :style => "float: right")%>
    			</div>
   				<div class="right" style="margin-top: 1cm; margin-left: 1cm; justify-content: ‎flex-start ">
   					In India at present two third of students complete schooling from tier second or third citites. But after schooling students from these citites often face problem in selection of universities/institution for pursuing heigher education. As infrastructure in most of these cities are not appropriate. Thus most students often do not get the eduction resources despite having talent. That's where our initiative comes into play. To empower, guide, providing various university/course information and helping in relocation, assisting in admission process. We have been in business for 15 years already, and from the very start. We can always find a course/university within your budget.</br></br>
   					AdmissionTime has a database of all major courses offered in universities across the globe and keeps students updated related to admission procedures and timelines.
   				</div>
   				
		   <h2 style="font-weight: 600; font-size: large; margin-top: .7cm; margin-left: 1cm">People Choose Us</h2>
			<h3 style="font-style: italic; font-size: larger; margin-left: 1cm; margin-top: .7cm">Now more students seeking admission enquiries at AdmissionTime portal</h3>
   				 <div class="left">
        			<%= image_tag("place.png", :style => "float: right")%>
    			</div>
   				<div class="right" style="margin-top: 1cm; margin-left: 1cm;">
   					In India at present two third of students complete schooling from tier second or third citites. But after schooling students from these citites often face problem in selection of universities/institution for pursuing heigher education. As infrastructure in most of these cities are not appropriate. Thus most students often do not get the eduction resources despite having talent. That's where our initiative comes into play. To empower, guide, providing various university/course information and helping in relocation, assisting in admission process.
   						</br></br>
   					 We have been in business for 15 years already, and from the very start. We can always find a course/university within your budget.
   				</div> 
   				<hr style="width: 80%">
   				<h2 style="font-weight: 600; font-size: large; margin-top: .7cm; margin-left: 1cm">Oversease admission guideance</h2>
				<h3 style="font-style: italic; font-size: larger; margin-left: 1cm; margin-top: .7cm">AdmissionTime facilitates the admission process for aspirants seeking admission in various courses oversease.</h3>
				<div class="right" style="margin-top: 1cm; margin-left: 1cm;">
					In India at present two third of students complete schooling from tier second or third citites. But after schooling students from these citites often face problem in selection of universities/institution for pursuing heigher education. As infrastructure in most of these cities are not appropriate. Thus most students often do not get the eduction resources despite having talent. That's where our initiative comes into play. To empower, guide, providing various university/course information and helping in relocation, assisting in admission process. Few of the countries students from India seek most admissions are 

					<i class="fa fa-angle-right" style="color:red"></i>Russia </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>China </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>Bangladesh </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>Kazakhatan </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>Kyrgyzstan </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>Malaysia </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>Philippines </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>Ukraine </br></br>
					<i class="fa fa-angle-right" style="color:red"></i>Georgia	</br></br>
				</div>
				<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
    <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
    <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
  </ul>
</div>
			<%= render 'layouts/footer' %>
		</div>    

		
		
